$highlight: #cd3821;

$lightBack: #ffffff;
$lightFront: #fcfafa;
$lightMuted: rgba(0, 0, 0, 0.65);
$lightText: black;

$darkBack: rgb(36, 36, 48);
$darkFront: rgb(42, 42, 58);
$darkMuted: #c4cbdd;
$darkText: white;